
.body-container {
  display: flex;
}

.header {
  margin-bottom: 2em;
  text-align: center;
}

.footer {
  margin-top: 4em;
  text-align: center;
}

/* Posts */

.posts .date,
.posts .comment-count {
  color: gray;
}

/* Recent entries */

.recent-entries {
  margin-top: 4em;
  margin-left: 2em;
  flex-basis: 20%;
}

.recent-entries header {
  font-weight: bold;
}

.recent-entries ul {
  margin-left: -2em;
}

.recent-entries li {
  list-style: none;
  margin-bottom: 1em;
}

.contactAbout {
  font-weight: bold;
}


/* Vote Button styling:  */

.MainDiv {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-self: center;
  justify-self: center;
  align-items: center;
}

.DisplayDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 2em;
  height: 25%;
}

 */
.ButtonDiv {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  height: 25%;
  width: 100%;
  justify-content: center;
  align-self: center;
}
.ButtonUp {
 
  color: white;
  width: 0px;
  height: 0px;
  border: 88px solid black;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: rgb(28, 238, 28);
  border-left-color: transparent;

}

.ButtonDown {
  color: white;
  width: 0px;
  height: 0px;
  border: 88px solid black;
  border-top-color: red;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
